.chat-container {
  display: flex;
  flex-direction: column;
  grid-column: 7/-1;
  position: relative;
}

.user-info {
  margin-left: 0.625rem;
  line-height: 1.3;

  .last-seen {
    font-size: 0.75rem;
  }
}
.chat-header-section {
  position: relative;
  padding: 1.25rem 0.75rem;
  display: flex;
  align-items: center;
  background-color: var(--secondary-color-500);
  color: var(--accent-color);
}

.chat-header-section > img {
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.search-icon {
  margin-left: auto;
  width: 1.875rem;
  aspect-ratio: 1/1;
  justify-items: center;
  align-content: center;
  font-size: 1.5rem;
  color: var(--accent-color);
}
.kebab-icon {
  width: 1.875rem;
  justify-items: center;
  align-content: center;
  aspect-ratio: 1/1;
  font-size: 1.5rem;
  color: var(--accent-color);
  cursor: pointer;
}
.chat-talking{
   flex: 1;
}
.chat-talking-section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.875rem;
  background: url("../../assets/bg-chat-room.png");
  overflow: auto;
  height:  85vh;
  flex: 1;
  width: 100%;
  scroll-behavior: smooth;
  color: var(--accent-color);
  /* overflow-y: scroll; */

  /* todo: make the chat's fonts responsive */
  .reciever,
  .owner {
    margin-block-end: 1.5rem;
    padding: 0.65rem;
    max-width: 70%;
    border-radius: 0.75rem;
    text-wrap: pretty;
    word-wrap: break-word;
    font-size: clamp(0.875rem, 1vw, 1.2rem);
    display: flex;
    gap: 5px;
  }

  .reciever {
    align-self: start;
    position: relative;
    background-color: var(--primary-color);
  }
  .message-image {
    border-radius: 1.2rem;
  }
  .text-image {
    justify-self: end;
    width: 100%;
    margin-block-start: 0.75em;
  }

  .owner {
    align-self: end;
    position: relative;
    background-color: var(--secondary-color-500);
  }
  .check-box {
    align-self: end;
    padding-top: 4px;
  }
  .name-message-top {
    margin-bottom: 2px;
    text-decoration: underline wavy var(--accent-color);
  }

}

.chat-talking-section::-webkit-scrollbar {
  width: 0.25rem;
}


.chat-talking-section::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
}

/* Send message */
.send-chat-configuration {
  display: flex;
  padding: 0.8125em;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 12px;
  background-color: var(--secondary-color-500);
  input {
    flex: 1;
    padding: 0.625em 0.75em;
    border-radius: 0.75rem;
    background-color: var(--background-color);
    color: white;
  }
  input:focus-visible {
    outline: 2px solid white;
    width: 100%;
  }
  input[type="text"] {
    padding-left: 20px;
  }
  input::placeholder {
    color: var(--accent-color);
  }
  .attachments {
    all: unset;
    width: 1.875rem;
    aspect-ratio: 1/1;
    font-size: 2rem;
    color: var(--accent-color);
    cursor: pointer;
  }
  .send-message,
  .emoji-picker {
    width: 1.875rem;
    aspect-ratio: 1/1;
    font-size: 2rem;
    color: var(--accent-color);
  }

  /* attachment popover */
  .attachment-popup {
    color: var(--accent-color);
    position: absolute;
    top: -15em;
    left: 3em;
    background-color: var(--background-color);
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: 10px 10px 10px 0px;
    animation-name: popUpAnimation;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    outline: 1px solid var(--primary-color);
    p {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      gap: 10px;
      list-style: 1.1;
      font-size: 1.12rem;
      justify-content: flex-start;
    }
    p[mediatype="photo"]::before {
      background-image: url("../../assets/gallery-svgrepo-com.svg");
    }
    p[mediatype="document"]::before {
      background-image: url("../../assets/pdf-svgrepo-com.svg");
    }
    p[mediatype="contact"]::before {
      background-image: url("../../assets/contact2-svgrepo-com.svg");
    }
    p[mediatype="schedule"]::before {
      /* background-color: url("../../assets/timer-svgrepo-com.svg"); */
      content: "â³";
    }
    p::before {
      content: "";
      width: 25px;
      aspect-ratio: 1/1;
      /* background-color: red; */
    }
  }
}
.photo-video {
  display: none;
}

.chat-details-section {
  position: absolute;
  inset: 0;
  background-color: var(--background-color);
  width: 70%;
  transform: translateX(-110%);
  transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 2;
  -webkit-box-shadow: 18px 0px 300px 0px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 18px 0px 300px 0px rgba(0, 0, 0, 0.65);
  box-shadow: 18px 0px 300px 0px rgba(0, 0, 0, 0.65);
}

.meow {
  display: flex;
  background-color: var(--primary-color);
  height: 100%;
  color: var(--accent-color);
  overflow: hidden;
}

.meow > * {
  width: 100%;
  flex-shrink: 0;
  background-color: var(--background-color);
  transition: transform 200ms ease-in-out;
}

.group-settings {
  padding: 1rem;
}

/* .section-1{

    background-color: lightblue;
}
.section-2{
   background-color: lightsalmon; 
} */

@keyframes popUpAnimation {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.sent-contact {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.7em;
  padding: 0.875em 0.25em;
  border-bottom: 1px solid #333;

  img {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    pointer-events: none;
  }
}

.contact-action-buttons {
  display: flex;
  margin-block-start: 0.75em;

  button:hover {
    background-color: #3b1e54;
    border-radius: 0.5em;
  }
}

.contact-action-buttons > * {
  padding: 0.25em 0.875em;
  flex: 1;
  max-width: fit-content;
  cursor: pointer;
}

/* test menu */
.action-menu {
  position: absolute;
  width: max-content;
  aspect-ratio: 1/1.1;
  padding: 0.75em;
  font-size: 1.1rem;
  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--secondary-color)
  );
  backdrop-filter: blur(15px);
  outline: 2px solid var(--secondary-color-500);
  color: black;
  transform: translate(-105%, 5%);
  isolation: isolate;
  z-index: 2;
  color: var(--accent-color);
  border-radius: 0.25em;
  display: grid;
  align-content: start;
  gap: 0.875em;

  box-shadow: 4.9px 9.8px 9.8px hsl(0deg 0% 0% / 0.35);
  transform-origin: top left;
  animation-name: showUp;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.action-menu > * {
  cursor: pointer;
  background-color: var(--secondary-color-500);
  border-radius: 0.25em;
  padding: 0.5em;
}

.media-section-title {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.media-section-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  gap: 0.25em;
  margin-block: 1rem;
}

.media-section-image {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 0.85em;
}

.box-test {
  aspect-ratio: 1/1;
  background-color: var(--primary-color);
  padding: 0.2em;
  border-radius: 0.85em;
  overflow: clip;
}

.media-section-button {
  padding: 1em 3em;
  background-color: var(--secondary-color-500);
  color: var(--accent-color);
  border-radius: 1em;
  font-size: 0.875em;
  font-weight: 700;
  transition: background-color 200ms ease-in;
}

.media-section-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.no-media-here {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 850px) {
  .sidebar {
    /* todo: fixed the borded on the right side */
    grid-column-start: 1;
    grid-column-end: 6;
  }
  .chat-container {
    grid-column: 6/-1;
  }
}

@keyframes showUp {
  0% {
    scale: 0.1;
  }
  100% {
    scale: 1;
  }
}
@keyframes reveal {
  0% {
    scale: 2;
  }
  100% {
    scale: 1;
  }
}
